html{
  min-height: 100vh;
  position: relative;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: #FBDA61;
  background: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
  background-size: cover;
  color: #d6c2c2;
  font-family: Times New Roman;
  font-size: 17px;
}
main{
  width: 70%;
  background-color: #461637;
  border-radius: 7px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
}

h1, p {
  margin: 1em auto;
  text-align: center;

}

div.intro{
  position: sticky;
  border-radius: 7px;
  top: 0;
  left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #804e70;
  width: 100%;
  border-style: solid;
  border-bottom-color: #35040e;

}

#title{
  color:#461637;

}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #804e70;
}

fieldset:last-of-type {
  border-bottom: none;
}

option{
  color: #afa9a9;
  font-weight: bold;
}

label {
  display: block;
  margin: 0.5rem 0;
  color: #afa9a9;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}
::placeholder{
  color: #e4d8d8;
}

input, textarea{
  background-color: #804e70;
  border: 1px solid #520615;
  color: #afa9a9;
}
select{
  background-color: #804e70;
  color:#000000;
  font-weight: bold;
}

input:hover{
  cursor: pointer;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #2e0521;
  border-color: white;
  min-width: 300px;
}

input[type="file"] {
  padding: 1px 2px;
}

legend{
  color:#c4a1a8;
  font-size: 20px;
  padding-top: 7px;

}
